[Unit]
Description=puzzle tv 3 server
Requires=network-online.target
After=network-online.target acestream.service

[Service]
DynamicUser=yes
StateDirectory=ptv-server
Type=simple
Restart=always
WorkingDirectory=/var/lib/ptv-server/
ExecStart=/var/lib/ptv-server/start-ptv-server

[Install]
WantedBy=multi-user.target
 
